@{
    ViewData["Title"] = "Home Page";

    var tenkijp = ViewData["tenkiJp"];
    var yahoo = ViewData["yahooJp"];
    var weathernews = ViewData["weathernewsJp"];
}

    <div class="wrap">
        <p>@tenkijp</p><hr />
        <p>@yahoo</p><hr />
        <p>@weathernews</p><hr>
    </div>
